beautifulsoup4==4.14.3
deepeval==3.7.4
fastapi==0.124.0
langchain_chroma==1.0.0
langchain_classic==1.0.0
langchain_community==0.4.1
langchain_core==1.1.2
langchain_google_genai==4.0.0
langchain_huggingface==1.1.0
langchain_text_splitters==1.0.0
pandas==2.3.3
pydantic==2.12.5
python-dotenv==1.2.1
reportlab==4.4.5
Requests==2.32.5
streamlit==1.51.0
torch==2.9.1
transformers==4.57.1
unstructured==0.18.20
pdfminer.six==20251107
pi_heif==1.1.1
unstructured_inference==1.1.2
pdf2image==1.17.0